@font-face {
  font-family: 'Urbane Demi';
  src: url('Urbane-DemiBold.eot');
  src: local('Urbane Demi Bold'), local('Urbane-DemiBold'),
    url('Urbane-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('Urbane-DemiBold.woff2') format('woff2'),
    url('Urbane-DemiBold.woff') format('woff'),
    url('Urbane-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane Demi';
  src: url('Urbane-DemiBoldItalic.eot');
  src: local('Urbane Demi Bold Italic'), local('Urbane-DemiBoldItalic'),
    url('Urbane-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('Urbane-DemiBoldItalic.woff2') format('woff2'),
    url('Urbane-DemiBoldItalic.woff') format('woff'),
    url('Urbane-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
